.wrap__button {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.wrap__button button {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    width: 179px;
    height: 52px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #44B26F;
    font-size: 16px;
}

.wrap__button svg {
    color: black;
    margin-right: 14px;
    margin-left: 19px;
    font-size: 25px;
}