.Product {
    background: #44B26F;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 300px;
    height: 50%;

}

.Product .container {
    width: 95%;
    margin: 0 auto;
    height: 100%;
}

.wrap__rozetka {
    width: 240px;
    height: 40px;
    margin-bottom: 31px;

}

.wrap__grid h1 {
    font-size: 64px;
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
    text-align: center;
    color: white;
}